.grid-banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include e (box){
        width: auto;
        @include m (first){
            grid-column: span 2;
        }
    }
    @include e (link){
        font-size: 16px;
    }
    @include e (btn){
        padding: 15px 40px;
        margin: 0 6vw 7vh;
        @include m (first){margin-left: 10vw;}
    }
    @include e (title){
        margin: 0 6vw 15px;
        @include m (first){margin-left: 10vw;}
    }
    @include e (sub-title){
        margin: 0 6vw 15px;
        @include m (first){margin-left: 10vw;}
    }
}