.grid-banner{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    @include e (box){
        @include m (first){grid-column: 3; grid-row: 1 / 3; height: auto;}   
    }
    @include e (btn){
        margin-left: 60px;
        @include m (first){
            margin: 0 60px 80px;
        }
    }
    @include e (title){
        margin-left: 60px;
        @include m (first){
            margin: 0 60px 15px;
        }
    }
    @include e (sub-title){
        margin-left: 60px;
        @include m (first){
            margin: 0 60px 15px;
        }
    }
}