.post-top{
    margin-top: 80px;
}

.slider-top {
    height: 650px;
        @include e(content-container){
            width: 760px;
            left: 37%;
            top: 20%;
        }
        @include e (content){
        @include m (heading){
            font-size: 100px;
        }
    }
    }

.second-container{
    left: 2%;
}