.slider-top{
    @include e(content-container){
        width: 440px;
        left: 55%;
    }
    @include e (content){
    @include m (title){
        font-size: 30px;
    }
    @include m (heading){
        font-family: 'Work Sans', sans-serif;
    }
    @include m (btn-container){

    }
    @include m (btn){
       @include btn-hover{border: 1px solid $red};
    }
    }
}

.second-container{
    left: 15%;
}

.second-btn{
    &:hover{color: $white;}
}

.myarrow:hover {
    background-image: url(../../../i/myarrow2.svg);
    transition: 0.5s;
}

.myarrow_prev {left: -70px;}
.myarrow_next {right: -70px;}

.slick-slider:hover .myarrow_prev {left: 1%;}
.slick-slider:hover .myarrow_next {right: 1%}