.search-form{
    @include e (btn){
        cursor: pointer;
        &:hover{
        background-color: $red;
        transition: 0.5s;
    }
}
}

.exit-btn{
    cursor: pointer;
    &:hover svg{
        fill: $red;
        transition: 0.2s;
    }
}
