@function image($file) {
  @return url($imagesPath + $file);
}

@function font($file) {
  @return url($fontsPath + $file);
}

@function userfile($file) {
  @return url($usersFilesPath + $file);
}

@function asset($type, $file) {
  @if $type == image {
    @return url($imagesPath + $file);
  } @else if $type == font {
    @return url($fontsPath + $file);
  } @else if $type == userfile {
    @return url($usersFilesPath + $file);
  }
}

@function em($target, $current: $baseFontSize) {
  @return ($target / $current) * 1em;
}

@function rem($target) {
  @return ($target / $baseFontSize) * 1rem;
}

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &_#{$modifier} {
    @content;
  }
}

@mixin mq($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin font($f, $s, $w: "") {
  font: #{$w} $s $f;
}

@mixin setCssVar($cssProp, $val) {
  $prefix: if(variable-exists(prefix), #{$prefix}, "");
  --#{$prefix}#{$cssProp}: #{$val};
}

@mixin getCssVar($cssProp, $cssVar: $cssProp) {
  $prefix: if(variable-exists(prefix), #{$prefix}, "");
  #{$cssProp}: var(--#{$prefix}#{$cssVar});
}

@mixin heading-discription(){
    color: $gray;
    text-transform: uppercase;
    text-align: center;
    font-weight: $regularFontWeight;
    line-height: 27px;
    letter-spacing: 5px;
    margin: 0 0 50px;
}

@mixin head(){
  font-size: 34px;
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 15px;
  letter-spacing: 2px;
}

@mixin heading-link {
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: $boldFontWeight; 
  font-family: 'Rajdhani', sans-serif;
}

@mixin link {
  display: inline-block;
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: $boldFontWeight;
  margin-bottom: 10px;
}

@mixin content {
  color: $gray;
  line-height: 27px;
}

@mixin btn-hover {
  &:hover {
    background-color: $red;
    cursor: pointer;
    transition: 1s;
    @content;
}
}

@mixin bg-img {
    @content;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}